@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-slate-50 font-sans text-slate-900;
    font-feature-settings: 'cv11', 'ss01';
  }
  ::selection {
    @apply bg-brand-100 text-slate-900;
  }
  input[type='number']::-webkit-inner-spin-button {
    opacity: 0.4;
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
